.content {
  max-width: 576px;
  margin: 3rem auto;
}

.transaction-detail:hover {
  cursor: pointer;
}

.transaction-date-card {
  width: 3.75rem;
}

.fs-7 {
  font-size: 0.75rem;
}

.bd-callout {
  border-left-width: 0.25rem;
  border-left-color: #d8dbe0;
}

.bd-callout-warning {
  border-left-color: #f9b115;
}

.bd-callout-success {
  border-left-color: #2eb85c;
}

.bd-callout-danger {
  border-left-color: #e55353;
}

.bd-callout-info {
  border-left-color: #39f;
}

.bd-callout-primary {
  border-left-color: #321fdb;
}

.bd-callout-secondary {
  border-left-color: #e55353;
}
